<%# add navigation links to this file %>
<!-- Collect the nav links, forms, and other content for toggling -->
<% if user_signed_in? %>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to current_user.full_name, "#" %></li>
      <li><%= link_to "Logout", destroy_user_session_path, :method => "delete" %></li>
    </ul>
  </div>
<% else %>
<% end %>
</ul>